h1 {
  text-align:center;
}

body {
  background-color: #f44336;
}

button {
  margin:auto;
  background-color:#849324;
}

button:hover{
  transition:0.2s;
  transform:scale(1.1);
}

.mdl-cell {
  text-align: center;
}

#welcome-card {
  margin-top:40%;
  margin:auto;
  vertical-align: middle;
  background-color: #ffb30f;
  margin-top:50px;
}

.mdl-card{
  margin:auto;
  width:512px;
  margin-top:50px;
}

.main-card {
  margin:auto;
  background-color:#ffb30f;
  margin-top:50px;

}
